In [1]:
hr_filename = input('Enter historical result filename')

Enter historical result filenameHResults

In [3]:
print(hr_filename)

HResults

In [4]:
import pandas as pd

In [18]:
hr_data = pd.read_csv(hr_filename+'.csv',  header=None)

In [19]:
hr_data

,0,1,2,3,4,5,6,7,8,9,...,91,92,93,94,95,96,97,98,99,100
0,A1,R,R,N,N,N,R,N,R,R,...,N,N,R,N,N,N,R,R,N,R
1,A2,R,N,R,N,R,N,R,R,R,...,R,R,N,R,R,N,R,R,R,R
2,A3,R,R,N,N,R,N,R,R,R,...,R,R,N,R,N,N,R,N,N,N
3,B1,N,N,N,N,N,N,N,N,R,...,N,R,R,N,N,N,N,R,N,N
4,B2,N,R,N,N,N,N,N,R,N,...,N,R,R,N,R,N,R,N,N,R
5,B3,R,R,R,R,N,R,N,N,N,...,R,N,N,N,N,N,R,N,N,N
6,C1,R,R,R,R,N,N,N,N,R,...,R,N,N,N,N,N,N,R,N,R
7,C2,N,R,R,N,N,R,R,R,N,...,N,N,N,N,N,N,N,N,N,R
8,C3,R,N,R,N,R,N,R,R,N,...,R,N,N,R,R,N,N,N,N,R
9,D1,R,R,R,R,N,R,R,R,N,...,R,N,N,R,R,R,N,R,N,R
10,D2,R,R,R,R,N,N,R,R,R,...,N,N,N,N,N,N,R,N,R,N
11,D3,R,N,N,R,R,R,N,N,R,...,N,R,R,R,N,N,R,R,N,R

In [20]:
hr_data_df = pd.DataFrame(data=hr_data)
hr_data_transposed = hr_data_df.T

In [24]:
hr_data_transposed.columns = hr_data_transposed.iloc[0]
hr_data_transposed = hr_data_transposed[1:]
hr_data_transposed

0   A1 A2 A3 B1 B2 B3 C1 C2 C3 D1 D2 D3
1    R  R  R  N  N  R  R  N  R  R  R  R
2    R  N  R  N  R  R  R  R  N  R  R  N
3    N  R  N  N  N  R  R  R  R  R  R  N
4    N  N  N  N  N  R  R  N  N  R  R  R
5    N  R  R  N  N  N  N  N  R  N  N  R
..  .. .. .. .. .. .. .. .. .. .. .. ..
96   N  N  N  N  N  N  N  N  N  R  N  N
97   R  R  R  N  R  R  N  N  N  N  R  R
98   R  R  N  R  N  N  R  N  N  R  N  R
99   N  R  N  N  N  N  N  N  N  N  R  N
100  R  R  N  N  R  N  R  R  R  R  N  R

[100 rows x 12 columns]

In [41]:
ir_a = hr_data_transposed[['A1', 'A2', 'A3']] #pd.concat([hr_data_transposed.A1, hr_data_transposed.A2, hr_data_transposed.A3])

In [44]:
ir_a

0   A1 A2 A3
1    R  R  R
2    R  N  R
3    N  R  N
4    N  N  N
5    N  R  R
..  .. .. ..
96   N  N  N
97   R  R  R
98   R  R  N
99   N  R  N
100  R  R  N

[100 rows x 3 columns]

In [50]:
def segment(array, segment):
    k, m = divmod(len(array), segment)
    return (array[i * k + min(i, m):(i + 1) * k + min(i + 1, m)] for i in range(segment))

In [53]:
seg_no = int(input('Enter number of segment: '))

Enter number of segment: 3

In [67]:
segments = segment(ir_a[1:], seg_no)

In [68]:

list(segments)

[0  A1 A2 A3
 2   R  N  R
 3   N  R  N
 4   N  N  N
 5   N  R  R
 6   R  N  N
 7   N  R  R
 8   R  R  R
 9   R  R  R
 10  N  R  N
 11  N  R  R
 12  R  N  R
 13  R  R  N
 14  R  N  N
 15  R  R  N
 16  R  N  R
 17  R  N  N
 18  R  N  N
 19  R  R  N
 20  N  N  R
 21  R  R  R
 22  R  R  N
 23  N  N  R
 24  R  N  R
 25  R  N  R
 26  N  R  R
 27  R  R  N
 28  N  R  N
 29  R  R  N
 30  N  R  N
 31  R  N  N
 32  R  N  N
 33  N  R  N
 34  R  R  R,
 0  A1 A2 A3
 35  R  R  R
 36  R  R  R
 37  R  N  N
 38  R  R  R
 39  N  R  N
 40  R  R  N
 41  R  R  R
 42  R  R  R
 43  N  N  R
 44  R  R  N
 45  N  R  R
 46  N  N  N
 47  N  N  N
 48  N  N  R
 49  N  R  N
 50  N  N  N
 51  N  N  R
 52  R  N  N
 53  R  N  R
 54  R  N  N
 55  R  R  N
 56  N  N  N
 57  N  N  R
 58  N  N  N
 59  N  R  R
 60  N  N  N
 61  R  R  N
 62  N  N  R
 63  N  N  N
 64  R  N  R
 65  R  R  N
 66  R  R  R
 67  R  N  R,
 0   A1 A2 A3
 68   R  N  R
 69   N  N  N
 70   R  R  N
 71   N  N  R
 72   N  N  R
 73   R  R  N
 74   N  R  N
 75   R  N  R
 76   R  N  N
 77   N  N  R
 78   N  R  R
 79   N  R  R
 80   R  R  R
 81   R  N  N
 82   R  N  N
 83   N  R  R
 84   R  R  R
 85   N  N  R
 86   N  R  N
 87   R  N  R
 88   R  R  N
 89   N  N  R
 90   R  R  N
 91   N  R  R
 92   N  R  R
 93   R  N  N
 94   N  R  R
 95   N  R  N
 96   N  N  N
 97   R  R  R
 98   R  R  N
 99   N  R  N
 100  R  R  N]

In [72]:
ir_a[]

0   A1 A2 A3
1    R  R  R
2    R  N  R
3    N  R  N
4    N  N  N
5    N  R  R
..  .. .. ..
96   N  N  N
97   R  R  R
98   R  R  N
99   N  R  N
100  R  R  N

[100 rows x 3 columns]